<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="icon" href="./static/fa_logo.jpg" type="image/x-icon">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>
            <%= htmlWebpackPlugin.options.title %>
        </title>

        <link rel="stylesheet" href="<%= BASE_URL %>static/index.<%= VUE_APP_INDEX_CSS_HASH %>.css" />
    </head>
    <script type="text/javascript">
        window._MICHAT = window._MICHAT || function () { (_MICHAT.a = _MICHAT.a || []).push(arguments) };
        _MICHAT("cptid", "f415367a1f00");
        _MICHAT("domain", "ekf.wangzhankefu.net");
        (function (m, d, q, j, s) {
            j = d.createElement(q),s = d.getElementsByTagName(q)[0];
            j.async = true;
            j.charset ="UTF-8";
            j.src = ("https:" == document.location.protocol ? "https://" : "http://") + "ekf.wangzhankefu.net/Web/js/mivisit.js?_=t";
            s.parentNode.insertBefore(j, s);
        })(window, document, "script");
    </script>
    <body>
        <noscript>
            <strong>Please enable JavaScript to continue.</strong>
        </noscript>
        <div id="app">
		</div>
        <!-- built files will be auto injected -->
    </body>
</html>